proxy: {
  port: 5554
  allow-client-urls: false
}

streamers: (
  {name: "Bars",             url: "rtsp://ipcam.stream:8554/bars",                          description: "rtsp://ipcam.stream:8554/bars"},
  {name: "PriceCenterPlaza", url: "rtsp://132.239.12.145:554/axis-media/media.amp",         description: "rtsp://132.239.12.145:554/axis-media/media.amp"},
  {name: "KonskyGrun",       url: "rtsp://stream.tmr.sk:1935/tmr/STREAM17.stream",          description: "rtsp://stream.tmr.sk:1935/tmr/STREAM17.stream"},
  {name: "VyhladJazero",     url: "rtsp://stream.strba.sk:1935/strba/VYHLAD_JAZERO.stream", description: "rtsp://stream.strba.sk:1935/strba/VYHLAD_JAZERO.stream"},
  {name: "Curacao",          url: "rtsp://srv13.arkasis.nl:80/498/default.stream",          description: "rtsp://srv13.arkasis.nl:80/498/default.stream"},
  {name: "Bedford Hills",    url: "rtsp://73.114.177.111/axis-media/media.amp",             description: "rtsp://73.114.177.111/axis-media/media.amp"},
  {name: "Norwich",          url: "rtsp://37.157.51.30/axis-media/media.amp",               description: "rtsp://37.157.51.30/axis-media/media.amp"},
  {name: "Montana",          url: "rtsp://64.187.201.16/axis-media/media.amp",              description: "rtsp://64.187.201.16/axis-media/media.amp"},
  {name: "Western Cape",     url: "rtsp://196.21.92.82/axis-media/media.amp",               description: "rtsp://196.21.92.82/axis-media/media.amp"},
  {name: "Nordland",         url: "rtsp://77.110.228.219/axis-media/media.amp",             description: "rtsp://77.110.228.219/axis-media/media.amp"},
  {name: "Wroclaw",          url: "rtsp://78.10.34.92/axis-media/media.amp",                description: "rtsp://78.10.34.92/axis-media/media.amp"},
  {name: "Kiev",             url: "rtsp://77.52.149.60/axis-media/media.amp",               description: "rtsp://77.52.149.60/axis-media/media.amp"}
)
